body {
    font-family: medium-content-sans-serif-font,
    -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0px;
}

.container {
	display: block;
}

.nav-wrapper {
	display: flex;
    justify-content: center;
    padding: 38px;
    margin-left: -140px;
    padding-bottom: 0px;
}

.right-side {
	display: flex;
}
.name {
    display: flex;
    font-weight: 600;
    font-size: x-large;
}

.nav-wrapper > .right-side > div {
	margin-right: 80px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;

}
.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper. a:hover {
    content: "";
    display: block;
	color: black;
}
.nav-social-media ul {
    display: flex;
    transform: translate(350px, -30px);
}
.nav-social-media ul li {
    list-style: none;
    margin: 0 10px;

}

.nav-social-media ul li .fa {
    color: #000000;
    font-size: 17px;
    line-height: 30px;
    transition: .5s;
}

.nav-social-media ul li .fa:hover {
    color: #ffffff;
}

.nav-social-media ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.nav-social-media ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);

}

.nav-social-media ul li:nth-child(1) a:hover {
    background-color: seagreen;
}

.nav-social-media ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.nav-social-media ul li:nth-child(3) a:hover {
    background-color: #0077B5;
}
.nav-social-media ul li:nth-child(4) a:hover {
    background-color: #e4405f;
}
.bio-wrap {
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    font-weight: 400;
    
}
.bio-wrap h1 {
    margin-bottom: 0px;
}

.bio-description {
    margin-bottom: 90px;
}
.content-wrapper {
    position: absolute;
    left: 25%;
    right: 25%;
    transform: translateY(-20px)

}

/*About page*/
.two-column-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.profile-image-wrapper img {
    margin-top: 40px;
    width: 100%;
	
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    margin-top: 0px;
}
